@{
    ViewBag.Title = "About Filmstation";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Film station is a film review website, that allows you to add reviews about each film. 
   This website also includes a section for actors and directors that will be directly linked to all their films they are apart off. 
   Also users of this site will be allowed to write reviews on each actor and directors. </p>

<p>Users will also be able to reply to others user’s comments as well as users can also tag films, their genres and filter the best and worst tables.</p>
    
<p> Each review will have a "marks out of ten" rating system for different films, so that users of the site will have a clear knowledge of what films are more popular and the least popular. </p>

<p> The site will also allow users to add different film news stories, and as well as juicy gossip with enticing headlines. </p>

<p>Furthermore, if there are any films missing of the site, users themselves will be able to add these films to the site.</p>

