@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    46 Halcroft Way<br />
    Oadby <br />
    Leicester <br />
    LE7 3KL
</address>

<address>
    <strong>Telephone:</strong><a>(0116) 298 6500</a><br />
    <strong>Email:</strong>   <a href="mailto:filmstation.contact@gmail.com">filmstation.contact@gmail.com</a>
</address>