@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Filmstation</h1>
    <p class="lead">Filmstation will allow you to select a film of your choice and write a review about it, using the search facilities provided to you on this page.
                    You are also able to select actors and film directors of your choice and write comments about them too.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">About &raquo;</a></p>
    
    <img src="~/Film Covers/Beauty and The Beast.jpg" alt="Beauty and The Beast" width="120" height="200">
    <img src="~/Film Covers/Black Mirror.jpg" alt="Black Mirror" width="120" height="200">
    <img src="~/Film Covers/Fist Fight.jpg" alt="Fist Fight" width="120" height="200">
    <img src="~/Film Covers/Harry Potter and The Prisoner Of Azkaban.jpg" alt="Harry Potter and The Prisoner Of Azkaban" width="120" height="200">
    <img src="~/Film Covers/I Can Only Imagine.jpg" alt="I Can Only Imagine" width="120" height="200">
    <img src="~/Film Covers/Jaws.jpg" alt="Jaws" width="120" height="200">
    <img src="~/Film Covers/Jumanji.jpg" alt="Jumanji" width="120" height="200">
    <img src="~/Film Covers/Peter Rabbit.jpg" alt="Peter Rabbit" width="120" height="200">
    <img src="~/Film Covers/Ted.jpg" alt="Ted" width="120" height="200">
    <img src="~/Film Covers/The Blank Panthar.jpg" alt="The Blank Panthar" width="120" height="200">
    <img src="~/Film Covers/The Dark Knight.jpg" alt="The Dark Knight" width="120" height="200">
    <img src="~/Film Covers/TheAvengers.jpg" alt="TheAvengers" width="120" height="200">
    <img src="~/Film Covers/Thor.jpg" alt="Thor" width="120" height="200">
    <img src="~/Film Covers/Tomb Raider.jpg" alt="Tomb Raider" width="120" height="200">
    <img src="~/Film Covers/Toy Story 3.jpg" alt="Toy Story 3" width="120" height="200">
    <img src="~/Film Covers/Fast & Furious.jpg" alt="Fast & Furious" width="120" height="200">
    <img src="~/Film Covers/The Amazing Spider-Man 2.jpg" alt="The Amazing Spider-Man 2" width="120" height="200">
    <img src="~/Film Covers/Kingsman The Golden Circle.jpg" alt="Kingsman The Golden Circle" width="120" height="200">
    <img src="~/Film Covers/Baywatch.jpg" alt="Baywatch" width="120" height="200">
    <img src="~/Film Covers/Captain America The First Avenger.jpg" alt="Captain America The First Avenger" width="120" height="200">
    <img src="~/Film Covers/Insidious The Last Key.jpg" alt="Insidious The Last Key" width="120" height="200">
    <img src="~/Film Covers/Spectre.jpg" alt="Spectre" width="120" height="200">
    <img src="~/Film Covers/Southpaw.jpg" alt="Southpaw" width="120" height="200">
    <img src="~/Film Covers/Mission Impossible - Rogue Nation.jpg" alt="Mission Impossible - Rogue Nation" width="120" height="200">
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Films</h2>
        <p>Click here to view films and write your reviews on them.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Films &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Actors</h2>
        <p>Click here to view films and write your reviews on them.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Actors &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Film Directors</h2>
        <p>Click here to view all the film directors and write your reviews on them.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Film Directors &raquo;</a></p>
    </div>
</div>